body {
  font-family: Arial, sans-serif;
}

.main-container {
  padding-inline: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  gap: 12px;
  align-items: center;
}

.todo-container {
  margin-top: 12px;
  font-size: 16px;
}

#todo-date, #input-todo {
  font-size: 16px;
  padding: 12px 6px;
}

#add-button {
  background-color: rgb(16, 118, 16);
}

button {
  cursor: pointer;
  color: white;
  padding: 16px 0px;
  border-radius: 8px;
  border: none;
  background-color: rgb(121, 2, 2);
}